@model TrocCommunity.Core.ViewModels.AdresseViewModel

@{
    ViewBag.Title = "DetailsAdresse";
}

<h2>Détails de l'adresse</h2>

<div class="contain">
    <div class="row">
        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.FullName)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.FullName)
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.NumVoie)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.NumVoie)
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.NomDeVoie)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.NomDeVoie)
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.CodePostale)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.CodePostale)
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.Ville)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Ville)
        </div>

        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.Pays)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Pays)
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "EditAdresse", new { id = Model.Id }) |
    @Html.ActionLink("Retour vers Compte Utilisateur", "Index", "Account")
</p>




