
@model TrocCommunity.Core.Models.Adresse
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.22/jquery-ui.js"></script>



@{
    ViewBag.Title = "EditAdresse";
}

<h2>EditAdresse</h2>


@using (Html.BeginForm("EditAdresse", "Adresse", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.Label("Saisir l'adresse", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="searchInput" name="searchInput" class="form-control" />
            @*@Html.ValidationMessageFor(model => model.Utilisateur.Adresse.NomDeVoie, "", new { @class = "text-danger" })*@
        </div>
    </div>
    <div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

<script>

    $("#searchInput").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchElem","Adresse")',
                dataType: "json",
                data: { search: $("#searchInput").val() },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //alert("Sucess");
                    response($.map(data, function (item) {
                        return { label: item, value: item };

                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                    console.log(error);
                    console.log(status);
                },
                failure: function (response) {
                    alert(response.responseText);
                }

            });
        }
    });
</script>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>
