@model IEnumerable<TrocCommunity.Core.Models.WishList>

@{
    ViewBag.Title = "Index";
}

<hr />
<table id="myTable" class="display table-wishlist">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Content/TEMPLATE/images/Livres/@item.Image" alt="image"  />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <a id="btn_add" href='@Url.Action("Delete", "WishList")/@item.Id' class="btn btn-danger btn-lg">
                        <i class="fas fa-trash-alt"></i>&nbsp; <span>SUPPRIMER</span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts{
    @* Normal *@
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>




    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/a5734b29083/i18n/French.json"
                }
            });
        });

    </script>


}


